<div class="container-fluid">
    <div class="row">
        <form>
            <div class="form-group">

                <label for="message">Write Quote</label>
                <textarea class="form-control" id="message" rows="4" required></textarea>

            </div>
            <div class="form-group">

                <label for="details">Your Name</label>
                <input type="text" required class="form-control" id="details">
                
            </div>
            <div class="form-group">
                <label for="entryDate">Writern On</label>
                <input type='date' id="entryDate" required>

            </div>
        </form>
    </div>
</div>
