<div class="container-fluid">
    <div class="row">
       <form (ngSubmit)='submitIdea()' #secretForm ='ngForm'>
          <!--Name Form -->
          <div class="form-group">
              <label for="entryDate">Entry Date</label>
              <input type='date' id="entry"  [(ngModel)]="new>Idea.entryDate" name="entryDate" #entryDate="ngModel" required>
              <div [hidden]="entryDate.valid || entryDate.pristine" class="alert alert-danger">
                   <p> entry Date is Required</p>
             </div>
          </div>
            <div class="form-group">

                <label for="secret">Secret</label>
                <input type="text" class="form-control" id="secret" [(ngModel)]="newIdea.secret" name="secret" #secret="ngModel" required>
                  <div [hidden]="secret.valid || secret.pristine" class="alert alert-danger">
                    <p>Secret is Required</p>
                </div>
            </div>
            <div class="form-group">

                <label for="details">Details</label>
                <textarea class="form-control" id="details" rows="4" [(ngModel)]="newIdea.details" name="details" #details="ngModel" required></textarea>
                <div [hidden]="details.valid || details.pristine" class="alert alert-danger">
                  <p>Details is Required</p>
              </div>

            </div>

            <button type="submit" class="btn btn-success btn-lg">Add Goal</button>
        </form>
    </div>
</div>
