<h2>Quotes</h2>
<ul>
<div class="container">
      <div class="row" *ngFor='let quote of quotes; let i= index'>
        <h4 id="{{i}}" appHighlight>{{quote.message}} due on {{quote.entryDate|date:'medium'}}</h4>
      <button class="btn btn-primary" (click)='toogleDetails(i)'>Show Author</button>
          <div class ="row" *ngIf="quote.showDetails">
              <app-quote-details  [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-details>
          </div>
    </div>
  </div>
</ul>
